<script src="js/team.js"></script>

<nav class="topnav ">
    <a class="active" href="/">ACASĂ</a>
    <a href="about">ABOUT US</a>
    <a href="contact">CONTACT</a>
</nav>
<div class="studio">
    <h3 id="title">De ce noi?</h3>
    <p1 class="studio--descrition">"Şcoala înseamnă trei lucruri deodată: o casă care deschide frenetic porţile cunoaşterii,
        o carte care odată  descifrată rămâne veşnic, străpungând tărâmurile eternităţii şi un dascăl receptiv la întrebările
        dilematice ale generaţiilor pe care le educă." 
        Școala noastra  este o școală mică, dar cu „suflet mare”. 
        Aici cadrele didactice se dedică creșterii nivelului de educație prin realizarea unor activități variate și atrăgătoare pentru elevi.
        Atât elevii, cât și cadrele didactice se dedică creșterii nivelului de educație prin realizarea unor activități cât 
        mai variate și cât mai atrăgătoare pentru beneficiarii principali ai actului educațional - elevii.
        Este o școală care se remarcă, la nivel național, cu activitățile desfășurate și prin rezultatele deosebite obținute de elevi, 
        are datoria să țină pasul cu evoluția tehnologică. „Pentru mine, educația digitală înseamnă educarea elevilor
         în vederea utilizării noilor tehnologii digitale facilitându-se astfel accesul la informație”, afirmă directorul școlii.
        </p1>    
</div>

<h3 class="team--subtitle">Echipa noastră</h3>
<div class="team" id="team">
    
</div>
