<nav class="topnav ">
    <a class="active " href="/">ACASĂ</a>
    <a href="index2 ">TABELA ABSENTE</a>

    <div class="topnav-right ">
        <a>Logat ca si, <span style="color:red" >ADMIN</span></a>
        <a href="autentificare ">DELOGARE</a>

    </div>
</nav>
</br></br>

<form action="/adauga_elev" method="post">
    <fieldset id="adProdus">
        <legend>ADAUGA NOTA</legend>       

        <label style="font-weight:bold;font-size:x-large" >Nume elev</label>
        <input type="text" id="nume_elev" name="nume_elev" size="45" maxlength="65" class="text" /></br>
       
        <label style="font-weight:bold;font-size:x-large" >Materia</label>
        <input type="text" id="materia" name="materia" size="45" maxlength="65"  class="text" style="margin-left:51px;"/></br>
  
        <label style="font-weight:bold;font-size:x-large" >Nota</label>
        <input type="text" id="nota" name="nota" size="45" maxlength="65" class="text" style="margin-left:90px;" /></br>

        <label style="font-weight:bold;font-size:x-large" >Data</label>
        <input type="text" id="data" name="data" size="45" maxlength="65"  class="text" style="margin-left:90px;" /></br>
    </br>
        <button type="submit" size="25" style="font-weight:bold;font-size:large;margin-left:380px;">ADAUGĂ NOTA</button>
</form>

