p Bună, #{prenume}!
p
p
p Mulțumim pentru atenția acordată! Mesajul dumneavoastră a fost recepționat, iar echipa noastră vă va contacta cât mai curând
p vă va contacta cât mai curând la numărul de telefon  #{telefon}.
p
p
p
p O zi minunată,
p  echipa "ScoalaTa"